{
    "extends": [
      "eslint:recommended",
      "plugin:node/recommended",
      "plugin:mocha/recommended"
    ],
    "plugins": [
     
    ],
    "env": {
      "mocha": true,
      "node": true
    },
    "rules": {
      "strict": "error",
      "mocha/no-hooks-for-single-case": "off",
      "mocha/no-setup-in-describe": 0,
      "mocha/no-sibling-hooks": 0,
      "mocha/no-skipped-tests": 0
    }
  }